{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">
    <strong>Ola, {{ user.name }}</strong>
    <p>Abaixo estão listados os serviços agendados com vocês no dia de hoje:</p>

    <ul class="providers">
      {% for appointment in appointments %}
        <li class="provider">
          <div>
            <img src="/files/{{ appointment.user.avatar }}" />
            <strong>{{ appointment.user.name }} <br> {{ appointment.date }}</strong>
          </div>
        </li>
      {% endfor %}
    </ul>

    <a href="/app/logout" class="logout">Sair</a>
  </div>
{% endblock %}
